models/
data/
wandb/
translations/
nbs/models
nbs/data
nbs/wandb
nbs/n_enc_results.csv
nbs/n_enc_results.xlsx
nbs/csv_uploader.ipynb
nbs/.ipynb_checkpoints/
nbs/.DS_Store
nbs/.ipynb_checkpoints/
.DS_Store
xlm-r_large_embs_en_full_2020-06-19_full
__pycache__/
